.login {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.login__image {
  display: block;
  margin: 0 auto;
}

.login__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  max-width: 640px;
  height: 520px;
  margin: 0 auto;
}

.login__group {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.login__group {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.login__label {
  font-family: pretendard;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #1f2937;
}

.login__input-box {
  position: relative;
  width: 100%;
}
.login__input {
  width: 100%;
  height: auto;
  border: none;
  border-radius: 12px;
  background-color: #f3f4f6;
  font-family: pretendard;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #9ca3af;
  padding: 16px 24px;
  box-sizing: border-box;
}
.login__input-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

.login__button {
  width: 100%;
  height: auto;
  border: none;
  border-radius: 40px;
  background-color: #9ca3af;
  color: white;
  padding: 16px 24px;
  font-family: pretendard;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  box-sizing: border-box;
}

.social__login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 74px;
  padding: 16px 23px;
  background-color: #e6f2ff;
  border-radius: 8px;
  margin: 0 auto;
  box-sizing: border-box;
}
.social__login-title {
  font-family: pretendard;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #1f2937;
}
.social__login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.social__login-icon {
  width: 42px;
  height: 42px;
}

.login__signup-text {
  font-family: pretendard;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  font-style: medium;
  color: #1f2937;
  text-align: center;
  margin-top: -24px;
}

.login__signup-link {
  color: #3692ff;
  font-family: pretendard;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
}

@media (max-width: 767px) {
  .login__container {
    width: 100%;
    max-width: 400px;
    margin: 0 16px;
  }
  .login__form,
  .login__group,
  .login__input-box,
  .login__input,
  .login__button,
  .social__login {
    width: 100%;
    box-sizing: border-box;
  }
}
